.MotoGrid{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    grid-gap: 30px;
}



.flexyfilters{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 20px;
   
}

